*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    
}

div{
    display: block;
}

a{
    color: #3c3c3c;
    text-decoration: none;
}


.dropdown{
    position: absolute;
    background-color: white;
    display: none;
    z-index: 100;
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid rgb(236, 236, 236);
    
}

.dropdown ul{
    position: relative;
    padding-top: 30px;
    left: 80px;
    margin: 0 auto;
    width: 800px;
    height: 200px;
    text-align: center;  
}

.dropdown ul li{
    
    width: 122px;
    float:left;
}

.dropdown li a {
    color: #666666;
    font-weight: 500;
    display: block;
    padding: 5px;
}

.dropdown li a:hover{
    color: #00c88c;
}


.navbar_logo{
    height: 24px;
    overflow: hidden;

}
.navbar_logo img{
    margin-top: -35px;
}

.navbar {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgb(236, 236, 236) solid 1px;
    padding: 20px 12px;
}

.navbar_menu{
    display: flex;
    padding-left: 0;
}

.navbar_menu a{
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 500;
}

.navbar_menu li{
    
    padding: 8px 20px;
}

.navbar_menu li a:hover{
    color: #00c88c;
    
    
}

.dropmain:hover .dropdown{
    display: block;
    
}





.navbar_link{
    padding-right: 100px;
    color: #999;
    font-size: 12px;
    padding-left: 0;
}


@media screen and (max-width: 1368px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_logo{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li{
        width: 100%;
        text-align: center;
    }

    .navbar_link {
        justify-content: center;
        width: 100%;
        
    }
    
}
.maincontainer{
    overflow: hidden;
    padding-top: 20px;
    width: 100%;
    height: auto;
    text-align: center;
}

.section1{
    display: inline-block;
}

.slide_menu {
    
    border-radius: 8px 30px 8px 30px;
    box-sizing: border-box;
}

.secion1 .slide_menu{
    border: #e4efff solid 1px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(233, 233, 233);
    background-color: #999;
    width: 1220px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.slide_menu img{
    
    margin: -120px 0px;
    
    
}

.contents{
    padding: 30px 20px;
    width: 100%;
    height: auto;
    /*background-color: blue;*/
    
    
    
}
.contents div{
    display: inline-block;
    margin-right: 30px;
    
}

.reservation{
    width: 410px;
    height: 140px;
    background-color: white;
    border-radius: 5px;
    border: rgb(243, 243, 243) solid 1px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(233, 233, 233);
}

h3.txt{
    position: relative;
    left: -15px;
    top: 30px;
    font-size: 24px;
    font-weight: 500;
    
    
}

h3.txt i{
    position: relative;
    top: 15px;
    left: 20px;
    padding-left: 50px;
    font-size: 48px;
}


.reservation{
    position: relative;
}
.reservation span {
    position: relative;
    top: 30px;
}

.reservation ul {
    position: relative;
    display: flex;
    text-align: center;
    top: 40px;
    left: 30px;
    margin-right: 50px;
}

.reservation ul li{
    margin-right: 10px;
    display: inline-block;
    background-color: #e4efff;
    border-radius: 5px;
    padding: 0px 4px;
    
}

.reservation ul li a{
        
    font-size: 13px;
    font-weight: 500;
    color: #3c3c3c;
    margin-bottom: 10px;
    
}



.contents_icon {
    top: -12px;
    position: relative;
    width: 750px;
    height: 140px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: rgb(243, 243, 243) solid 1px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(233, 233, 233);
}
.contents_icon ul{
    position: relative;
    top: 15px;
    left: 15px;
    display: flex;
    text-align: center;
}

.contents_icon ul li {
    display: inline-block;
    padding: 14px 20px;
    background-color: #f6f8fa;
    border: rgb(243, 243, 243) solid 1px;
    border-radius: 15px;
    margin-right: 30px;
    width: 85px;
    height: 80px;

}

.contents_icon ul i{
    font-size: 36px;
    padding-top: 10px;

}



.contents_icon ul p{
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: -0.05em;
}

.contents_icon ul li i:hover ,.contents_icon ul li p:hover{
    color: #00c88c;
}

.section2{
    width: 100%;
    background-color: #f6f8fa;
    padding: 70px 0;
}

.section2 h3{
    font-size: 48px;
    padding-bottom: 30px;
}

.section2 #car_search{
    background-color: #f6f8fa;
    border: none;
    border: 0px;
    width: 450px;
    height: 50px;
    padding: 0px 12px;
    font-size: 16px;
    border-bottom: black solid 3px;
}

input:focus{
    outline: none;
}

section:focus{
    outline: none;
}

.car_searc_wrap{
    position: relative;
    left: 20px;
}

.car_searc_wrap i{
    position: relative;
    left: -50px;
    font-size: 24px;
}

.car_search2{
    margin: 30px auto;
    width: 1220px;
    height: 180px;
    background-color: white;
    border: rgb(243, 243, 243) solid 1px;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(233, 233, 233);
    padding-top: 50px;
}


.car_search2_inner{
    display: flex;
    width: 100%;
    height: auto;
}


.car_search2 div{
    padding: 5px 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    letter-spacing: -0.07em;
}

.car_filter{
    margin: 20px auto;
    width: 100%;
    
}
.car_filter select{
    width: 150px;
    height: 50px;
    margin: 10px;
    border: rgb(233, 233, 233) solid 0.5px;
    border-radius: 10px;
}

.car_filter button{
    width: 100px;
    height: 50px;
    margin-left: 15px;
    border: 0;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    background-color: #3c3c3c;
}

.section3{
    width: 100%;
    height: auto;
    padding: 100px 0;
    
}

.section3_inner{
    padding: 8px 12px;
    margin: 0 auto;
    width: 1220px;
    height: 600px;
    text-align: left;
}

.section3_inner h2{
    font-size: 36px;
}

.notice_list{
    margin: 20px;
    margin-left: 50px;
    float: left;
}

.notice_list li{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 300px;
    height: 180px;
    margin:30px 0 0 70px;
}
.notice_list a{
    font-size: 14px;
}

.notice_list p{
    margin-top: 15px;
    width: 300px;
    text-align: left;
    font-size: 16px;
    color: #3c3c3c;
    
}

.notice_list .flag{
    display: inline-block;
    width: 50px;
    height: 26px;
    background: #00c88c;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #fff;
}

.notice_list .date{
    position: relative;
    font-size: 12px;
    color: rgb(194, 194, 194);
    top: 10px;
}

.notice_list i{
    position: absolute;
    bottom: 0;
    margin-top: 40px;
    font-size: 32px;
    color: #3c3c3c;
}

.sub_tit{
    padding: 4px 4px;
    font-size: 24px;
}

.section4{
    background-color: #f6f8fa;
    width: 100%;
    height: auto;
    padding-top: 100px;
    
}



.section4_inner{
    padding: 8px 12px;
    margin: 0 auto;
    width: 1220px;
    height: 500px;

}

.section4_inner h2{
    text-align: left;
    font-size: 36px;
}

.section4_inner p{
    text-align: left;
    font-size: 24px;
    margin: 4px 4px;
}

#slideshow{
    
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slides{
    position: absolute;
    left: 0;
    top: 70px;
    width: 900px;
    transition: left 0.5s ease-out;
}

.slides li:first-child{
    margin-left: 100px;
  }
  
  /* 슬라이드들 옆으로 정렬 */
  .slides li:not(:last-child){
    float: left;
    width: 250px;
    margin-right: 100px;
  }
  
  .slides li{
    
    height: 300px;
    float: left;
    padding: 10px 10px;
  }

.slide_tit{
    text-align: left;
    background-color: #00c88c;
    
}

.slide_tit h2{
    font-size: 18px;

}

.slide_tit p{
    font-size: 14px;
}

  .slides li img{
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(202, 202, 202);
    margin-bottom: 10px;
    
  }


  .slide_control span{
    font-size: 30px;
    color: #3c3c3c;
    padding: 0 30px;
    position: absolute;
    top: 50%;
    
  }
.prev{
    position: absolute;
    left: 0;
}
.next{
    position: absolute;
    right: -70px;
}

  
  .slide_control span i:hover{
    background-color: rgba(128, 128, 128, 0.11);
  }
  

  .next:hover{
    transform: translateX(10px);
  }

  .section4_inner02{
    position: relative;
    width: 100%;
  }

.footer{
    width: 100%;
    height: 300px;
    
}

.footer_header{
    width: 100%;
    height: auto;

    border: rgb(230, 230, 230) solid 1px;
    border-left: 0;
    border-right: 0;
}
.footer_top{
    display: flex;
    width: 1220px;
    margin: 0 auto;
    
}

.footer_top .footer_menu{
    margin: 0 auto;
    width: 1220px;
    display: flex;
   
    
    
    
}

.footer_top .footer_menu li{
    width: 115px;
    height: 48px;
    border-right: rgb(230, 230, 230) solid 1px;
    
}

.footer_top .footer_menu li:first-child{
    border-left: rgb(230, 230, 230) solid 1px;
}

.footer_top .footer_menu li a{
    position: relative;
    top: 10px;
    font-size: 12px;
    color: rgb(131, 131, 131);

}



.footer_top .footer_icons{
    
    display: flex;
    
}

.footer_icons li{
    display: inline-block;
    padding: 0 20px;
    height: 20px;
}

.footer_center{
    padding-top: 30px;
    display: flex;
    width: 1220px;
    height: auto;
    margin: 0 auto;
    align-items: center;
    

}

.footer_center ul{
    display: flex;
}

.footer_center ul li{
    margin-right: 9px;
    font-size: 12px;
}

.footer_center ul li a{
    color: #3c3c3c;
    padding-right: 6px;
    border-right: rgb(230, 230, 230) solid 1px;
}



.ft_icons{
    margin-left: 10px;
    display: flex;
    
}

.ft_icons li{
    padding-left: 22px;
}

.footer_info{
    
    user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -webkit-user-select: none;

    padding-bottom: 40px;
    border-bottom: rgb(230, 230, 230) solid 1px;
    margin: 15px auto;
    width: 1220px;
    height: auto;
    text-align: left;
}

.footer_info p{
    
    font-size: 14px;
    color: #7c7c7c;
    font-weight: 500;
    
}


/* ======================Login.html==============================*/

.login_section{
    width: 1220px;
    height: 700px;
    margin: 0 auto;

}

.login_section img{
    position: relative;
    left: -195px;
    top: 15%;
    margin-top: -200px;
}

.login_txt{
    position: relative;
    width: 522px;
    height: auto;
    top: 50%;
    left: 50%;
    padding-top: 20px;
    padding-bottom: 60px;
    border-top: #00c88c solid 2px;
    border-bottom: rgb(230, 230, 230) solid 1px;
    text-align: left;
    transform: translate(-50%,-50%);
}

.login_txt p{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

.login_txt #login,#password{
    border-radius: 10px;
    border: rgb(230, 230, 230) solid 0.5px;
    height: 40px;
    width: 500px;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.login_txt button{
    width: 100%;
    background-color: #00c88c;
    height: 40px;
    border-radius: 5px;
    border:none;
    font-size: 16px;
    font-weight: 500;
    background-color: #00c88c;
    color: white;
    
}

.login_txt label{
    position: relative;
    top: 20px;
    padding: 8px 0px;
    padding-right: 20px;
    
}


.login_others{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    
}
.login_others span{
    display: flex;
    
}

.login_others p{
    color: #3c3c3c;
    font-size: 14px;
    padding: 10px 0px;
    font-weight: 400;
}

.signup a{
    font-weight: 600;
}


.login_others span p{
    margin: 0px 3px;
}

/* 회원가입 */


.signup__{
    
    width: 1220px;
    margin: 0 auto;
}

.signup__ h3{
    margin-top: 60px;
    font-size: 24px;
    padding-bottom: 20px;
}

.signup__ span p{
    font-size: 16px;
    color: #3c3c3c;
    padding-bottom: 80px;
}

.sign__section{
    width: 100%;
    
}

.sign__section ul{
    float: left;
    width: 100%;
    height: 100%;
    
}


.sign__section ul li{
    display: inline-block;
    text-align: left;
    margin: 10px 22px;
    
}

.sign__section ul li p{
    font-size: 16px;
    font-weight: 500;
    color: #3c3c3c;
    margin-bottom: 15px;
}

.sign__section ul li input{
    height: 55px;
    width: 540px;
    border: rgb(230, 230, 230) solid 0.5px;
    border-radius: 10px;
    padding: 0px 10px;
}

.sign__section button{
    margin-top: 70px;
    width: 400px;
    font-size: 16px;
    font-weight: 500;
    background-color: #00c88c;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-bottom: 120px;
}


.popup01{
    display: none;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    background: black;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 120%;
    z-index: 1;
}

.exit_popup a{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    font-size: 24px;
    color: white;
}


/* map.html */


.list_wrap{
    padding-top: 50px;
    padding-bottom: 100px;
    width: 1300px;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.list_inner01 {

    width: 300px;
    height: 500px;
    padding: 20px 5px;
    border: rgb(230, 230, 230) solid 0.2px;
    overflow: hidden;
}


.list_inner01 .map_wrap{
    padding: 8px 12px;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: rgb(230, 230, 230) solid 0.5px;
    
}


#map_btn{
    border: none;
    margin-left: 5px;
    width: 70px;
    height: 23px;
    margin-top: 15px;
    border-radius: 3px;
    background-color: #00c88c;
    color: white;
}




.map_sub_tit{
    margin-top: 50px;
    position: relative;
    top: 10px;
    display: flex;
    
    
    
}

.map_sub_tit i{
    margin-top: 3px;
    margin-right: 5px;
    font-size: 14px;   
    color: #7c7c7c;
}

.map_sub_tit .map_txt{
    font-size: 14px;
    color: #7c7c7c;
}


.list_inner02 {
    width: 1000px;
    height: auto;
}

.list_inner02 ul{
    float: left;
    text-align: left;
}

.list_inner02 li{
    display: inline-block;
    text-align: left;
    padding: 0px 12px 30px 12px;
    width: 280px;
}

.list_inner02 p{
    padding: 0px 10px;
}

.list_price{
    font-weight: 500;
    margin-top: 30px;
}

.list_oil{
    font-size: 12px;
    margin-top: 10px;
    color: #9c9c9c;
}

#list_btn{
    border: none;
    width: 275px;
    height: 30px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #00c88c;
    color: white;

    
}



.list_inner02 ul li img{
    width: 275px;
    height: 185px;
    border-radius: 15px;
    border: rgb(230, 230, 230) solid 0.5px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(233, 233, 233);
}

.car_fitler01{
    padding-top: 10px;
    width: 100%;
    height: 400px;
    text-align: left;
    
}


.car_fitler01 span ._tit{
    padding: 10px 10px;
    font-size: 16px;
}


.car_fitler01 ul{
    float: left;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0px;
    text-align: center;
}

.car_fitler01 ul li{
    text-align: center;
    font-size: 14px;
    color: #3c3c3c;
    display: inline-block;
    background-color: white;
    width: 100px;
    padding: 5px 0px;
    margin: 3px;
}

.car_fitler01 ul li button{
    width: 100%;
    padding: 7px 0px;
    background-color: transparent;
    border: rgb(230, 230, 230) solid 1px;
    border-radius: 3px;
}

.car_fitler01 .active {
    border: #00c88c solid 1px;
}

.clicked {
    color: #00c88c;
    
}

.paging-div {
    padding: 15px 0 5px 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.paging-div{
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.paging-div a{
    padding: 3px 10px;
    font-size: 14px;
    margin: 0px 5px 20px 0px;
    color: #00c88c;
    border: #00c88c solid 1px;
}

